@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "CSM1";
}

<style>
body,html {
    margin:0;
}
#emptygif {
    position:absolute;
    z-index:200;
}
#overlayr1 {
    position:absolute;
    background:#fff;
    opacity:0.2;
    width:300px;
    height:160px;
    z-index:100;
    display:none;
}
#overlayr2 {
    position:absolute;
    background:#fff;
    opacity:0.2;
    width:300px;
    height:160px;
    top:160px;
    z-index:100;
    display:none;
}
</style>

<!--<div class="container">
    <div class="jumbotron">
        CSM01
    </div>
    <img src="http://www.tfo.be/jobs/axa/premiumplus/img/empty.gif" width="300" height="350" border="0" usemap="#location-map" id="emptygif" />

    <map name="location-map" id="location-map">
        <area shape="rect" coords="0,0,300,160" href="http://www.w3schools.com/css/css_howto.asp" id="r1" />
        <area shape="rect" coords="0,161,300,350" href="#" id="r2" />
    </map>
</div>-->

